/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(https://github.com/NiGhTmArEiOi/Golden-Controller/blob/1575ca19e56cb000d7c0331a7b980a499106a2e9/Base.svg);
}

.ds4.white.disconnected {
    background: url(ps4-assets/disconnected.svg);
}

.ds4.white .trigger {
    background-image: url(https://github.com/NiGhTmArEiOi/Golden-Controller/blob/main/Triggers.svg);
}

.ds4.white .bumper {
    background-image: url(https://github.com/NiGhTmArEiOi/Golden-Controller/blob/83033e95f1804b2fa050762d6fa65bd119244b35/Bumper.svg);
}

.ds4.white .touchpad.pressed {
    background-image: url(ps4-white-assets/touchpad.svg);
}

.ds4.white .back, .ds4 .start {
    background-image: url(https://github.com/NiGhTmArEiOi/Golden-Controller/blob/main/Start.svg);
}

.ds4.white .button {
    background-image: url(https://github.com/NiGhTmArEiOi/Golden-Controller/blob/f501a83c9147fc595f5549eb0618e2ccc6d4a5d7/Dpad.svg);
}

.ds4.white .stick {
    background-image: url(https://github.com/NiGhTmArEiOi/Golden-Controller/blob/main/Sticks.svg);
}

.ds4.white .face {
    background-image: url(https://github.com/NiGhTmArEiOi/Golden-Controller/blob/ca46d7d7f9382fb777b4e8b79e640ca36f6ecd56/Face.svg);
}

/*END PS4 White Controller Styling*/
